.content {
  display: flex;
  justify-content: center;

  @media only screen and (max-width: 1024px) {
    background-color: #EEE;
  }
}

.form {
  padding: 16px;
  background-color: #EEE;
  border-radius: 16px;
}
