.token {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  padding: 4px 16px;
}
.token:hover {
  background-color: #EEE;
}

.logo {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  font-size: 32px;
}

.info {
  flex-grow: 1;
}

.value {
}
