div {
  padding: 4px;
  margin: 4px;
}

label {
  margin: 0 4px;
}

input {
  margin: 0 4px;
  padding: 4px;
  width: 240px;
}

.text-center {
  text-align: center;
}

h1, h2, h3, h4, h5 {
  margin: 8px 0;
}

p {
  margin: 0;
}

button, select {
  padding: 4px 12px;
  margin: 4px;
}

.img-button {
  padding: 0 8px;
}

.secondary, .disabled {
  color: gray;
}


.border {
  border: 1px solid gray;
}

.border-rounded {
  border-radius: 4px;
}

.mt-h {
  margin-top: 1.5rem;
}

.flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

.app {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}